## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bria,CF,6.5423,21.9863,68.02,99,100,1.23,moderate rain
1,1,Ancud,CL,-41.8697,-73.8203,51.22,84,100,12.26,light rain
2,2,Rikitea,PF,-23.1203,-134.9692,73.22,71,40,9.98,light rain
3,3,New Norfolk,AU,-42.7826,147.0587,44.71,85,61,1.01,broken clouds
4,4,Albany,US,42.6001,-73.9662,70.21,77,96,3.00,overcast clouds

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Atuona,PF,-9.8000,-139.0333,77.90,67,73,16.42,broken clouds
30,30,Waingapu,ID,-9.6567,120.2641,75.13,77,85,8.75,overcast clouds
33,33,Touros,BR,-5.1989,-35.4608,76.95,83,42,9.15,scattered clouds
37,37,Bandar-E Lengeh,IR,26.5579,54.8807,86.61,78,0,18.34,clear sky
38,38,Buraydah,SA,26.3260,43.9750,88.25,11,0,8.84,clear sky
44,44,Manuk Mangkaw,PH,4.8000,119.8500,83.70,66,96,3.18,overcast clouds
46,46,Hithadhoo,MV,-0.6000,73.0833,83.62,73,100,9.04,overcast clouds
48,48,Port Alfred,ZA,-33.5906,26.8910,76.17,28,100,5.01,overcast clouds
51,51,Port Blair,IN,11.6667,92.7500,81.41,80,100,9.01,overcast clouds
56,56,Matara,LK,5.9485,80.5353,78.31,86,92,11.92,light rain

In [24]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.isnull().sum()
preferred_cities_df.count()

City_ID                182
City                   182
Country                182
Lat                    182
Lng                    182
Max Temp               182
Humidity               182
Cloudiness             182
Wind Speed             182
Current Description    182
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Atuona,PF,-9.8000,-139.0333,77.90,67,73,16.42,broken clouds
30,30,Waingapu,ID,-9.6567,120.2641,75.13,77,85,8.75,overcast clouds
33,33,Touros,BR,-5.1989,-35.4608,76.95,83,42,9.15,scattered clouds
37,37,Bandar-E Lengeh,IR,26.5579,54.8807,86.61,78,0,18.34,clear sky
38,38,Buraydah,SA,26.3260,43.9750,88.25,11,0,8.84,clear sky
...,...,...,...,...,...,...,...,...,...,...
671,671,Davila,PH,18.4726,120.5763,80.58,80,90,6.11,overcast clouds
674,674,Labuhan,ID,-6.8844,112.2051,77.59,88,97,5.30,overcast clouds
677,677,Yenagoa,NG,4.9247,6.2642,75.20,95,100,5.26,overcast clouds
683,683,Natal,BR,-5.7950,-35.2094,79.02,89,20,4.61,few clouds
693,693,Menomonie,US,44.8755,-91.9193,77.83,61,94,8.05,overcast clouds

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Atuona,PF,77.90,broken clouds,-9.8000,-139.0333,
30,Waingapu,ID,75.13,overcast clouds,-9.6567,120.2641,
33,Touros,BR,76.95,scattered clouds,-5.1989,-35.4608,
37,Bandar-E Lengeh,IR,86.61,clear sky,26.5579,54.8807,
38,Buraydah,SA,88.25,clear sky,26.3260,43.9750,
44,Manuk Mangkaw,PH,83.70,overcast clouds,4.8000,119.8500,
46,Hithadhoo,MV,83.62,overcast clouds,-0.6000,73.0833,
48,Port Alfred,ZA,76.17,overcast clouds,-33.5906,26.8910,
51,Port Blair,IN,81.41,overcast clouds,11.6667,92.7500,
56,Matara,LK,78.31,light rain,5.9485,80.5353,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping")

Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping
Hotel not found... Skipping

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Atuona,PF,77.90,broken clouds,-9.8000,-139.0333,Villa Enata
30,Waingapu,ID,75.13,overcast clouds,-9.6567,120.2641,Pondok Wisata Elim
33,Touros,BR,76.95,scattered clouds,-5.1989,-35.4608,INN NEW HORIZON
37,Bandar-E Lengeh,IR,86.61,clear sky,26.5579,54.8807,کافی نت پارس
38,Buraydah,SA,88.25,clear sky,26.3260,43.9750,Mövenpick Qassim
46,Hithadhoo,MV,83.62,overcast clouds,-0.6000,73.0833,Scoop Guest House
48,Port Alfred,ZA,76.17,overcast clouds,-33.5906,26.8910,The Halyards Hotel
51,Port Blair,IN,81.41,overcast clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
56,Matara,LK,78.31,light rain,5.9485,80.5353,Amaloh Boutique Resort
60,Mamallapuram,IN,83.05,overcast clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram

In [32]:
# 8a. Create the output File (CSV)
output_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_file, index_label="City_ID")

In [44]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))